[submodule "HMS"]
	path = HMS
	url = https://github.com/swavyast/HMS
[submodule "MiniProject"]
	path = MiniProject
	url = https://github.com/swavyast/MiniProject
[submodule "myEcomProject"]
	path = myEcomProject
	url = https://github.com/swavyast/myEcomProject
